{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mx-auto">
    {% if messages %}
      {% for message in messages %}
        {% if 'vault_error' in message.tags %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="justify-content-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Credential name</th>
          <th scope="col">Credential URL</th>
          <th scope="col">Email/Login</th>
          <th scope="col">Password</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for elem in credential_list %}
          <tr>
            {% if elem.pk == edit_pk %}
              <form method="POST">
                {% csrf_token %}
                <td>{{ forloop.counter }}</td>
                <td>{{ form.credential_name|as_crispy_field }}</td>
                <td>{{ form.credential_url|as_crispy_field }}</td>
                <td>{{ form.credential_login|as_crispy_field }}</td>
                <td>
                  {% crispy form form.edit_helper %}
                </td>
                <td>
                  <button type="submit" class="btn btn-success">Save changes</button>
                  <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'vault' %}'">Cancel</button>
                </td>
              </form>
            {% else %}
              <td>{{ forloop.counter }}</td>
              <td>{{ elem.credential_name }}</td>
              {% if elem.credential_url != None %}
                <td>
                  <a href="{{ elem.credential_url }}">{{ elem.credential_url }}</a>
                </td>
              {% else %}
                <td>{{ elem.credential_url }}</td>
              {% endif %}
              <td>{{ elem.credential_login }}</td>
              <td>
                <div class="modal fade" id="ModalToggle-{{ forloop.counter }}" aria-hidden="true" aria-labelledby="ModalToggleLabel-{{ forloop.counter }}" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalToggleLabel-{{ forloop.counter }}">Enter your keeper user password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                          <label for="inputPassword-{{ forloop.counter }}" class="form-label">Password</label>
                          <div class="input-group">
                            <input type="password" id="inputPassword-{{ forloop.counter }}" name="password" class="form-control" />
                            <span class="input-group-text"><i class="fas fa-eye-slash" id="inputPassword-{{ forloop.counter }}" style="cursor: pointer;" onclick="toggleEye(this, 'inputPassword-{{ forloop.counter }}')"></i></span>
                            <input type="hidden" name="credential_pk" value="{{ elem.pk }}" />
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary" data-bs-toggle="modal">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" data-bs-target="#ModalToggle-{{ forloop.counter }}" data-bs-toggle="modal">Show password</button>
              </td>
              <td>
                <form class="d-inline" method="GET" action="{% url 'edit_credential' elem.pk %}">
                  <button type="submit" class="btn btn-info">Edit</button>
                </form>
                <form class="d-inline" method="POST" action="{% url 'delete_credential' elem.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if show_second_modal %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Your password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Here is your password: {{ credential_password }}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      jQuery(document).ready(function () {
        jQuery('#staticBackdrop').modal('show')
      })
    </script>
  {% endif %}
  <script>
    const togglePassword = document.querySelector('#togglePassword')
    const password = document.querySelector('#id_credential_password')
    
    togglePassword.addEventListener('click', () => {
      // Toggle the type attribute using
      // getAttribure() method
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password'
      password.setAttribute('type', type)
      // Toggle the eye and bi-eye icon
      togglePassword.classList.toggle('fa-eye-slash')
      togglePassword.classList.toggle('fa-eye')
    })
    
    function toggleEye(icon, passwordfieldId) {
      passwordfieldId = document.getElementById(passwordfieldId)
      const type = passwordfieldId.getAttribute('type') === 'password' ? 'text' : 'password'
      passwordfieldId.setAttribute('type', type)
      icon.classList.toggle('fa-eye-slash')
      icon.classList.toggle('fa-eye')
    }
  </script>
{% endblock %}
